<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShopAroundv5.0</display-name>
  <welcome-file-list>
    <welcome-file>page.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.shopping.Controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Perinfo</display-name>
    <servlet-name>Perinfo</servlet-name>
    <servlet-class>com.shopping.Controller.Perinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perinfo</servlet-name>
    <url-pattern>/Perinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccount</display-name>
    <servlet-name>MyAccount</servlet-name>
    <servlet-class>com.shopping.Controller.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccount</servlet-name>
    <url-pattern>/MyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAddress</display-name>
    <servlet-name>ChangeAddress</servlet-name>
    <servlet-class>com.shopping.Controller.ChangeAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAddress</servlet-name>
    <url-pattern>/ChangeAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhotoServlet</display-name>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <servlet-class>com.shopping.Controller.DisplayPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <url-pattern>/DisplayPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhotoServ</display-name>
    <servlet-name>DisplayPhotoServ</servlet-name>
    <servlet-class>com.shopping.Controller.DisplayPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServ</servlet-name>
    <url-pattern>/DisplayPhotoServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocart</display-name>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>com.shopping.Controller.addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removefromcart</display-name>
    <servlet-name>Removefromcart</servlet-name>
    <servlet-class>com.shopping.Controller.Removefromcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removefromcart</servlet-name>
    <url-pattern>/Removefromcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.shopping.Controller.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>com.shopping.Controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removeserv</display-name>
    <servlet-name>Removeserv</servlet-name>
    <servlet-class>com.shopping.Controller.Removeserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removeserv</servlet-name>
    <url-pattern>/Removeserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkoutserv</display-name>
    <servlet-name>Checkoutserv</servlet-name>
    <servlet-class>com.shopping.Controller.Checkoutserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkoutserv</servlet-name>
    <url-pattern>/Checkoutserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductServ</display-name>
    <servlet-name>ViewProductServ</servlet-name>
    <servlet-class>com.shopping.Controller.ViewProductServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServ</servlet-name>
    <url-pattern>/ViewProductServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.shopping.Controller.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.shopping.Controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQuery</display-name>
    <servlet-name>DisplayQuery</servlet-name>
    <servlet-class>com.shopping.Controller.DisplayQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuery</servlet-name>
    <url-pattern>/DisplayQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemSearch</display-name>
    <servlet-name>ItemSearch</servlet-name>
    <servlet-class>com.shopping.Controller.ItemSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemSearch</servlet-name>
    <url-pattern>/ItemSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderSearch</display-name>
    <servlet-name>OrderSearch</servlet-name>
    <servlet-class>com.shopping.Controller.OrderSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSearch</servlet-name>
    <url-pattern>/OrderSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearch</display-name>
    <servlet-name>ProductSearch</servlet-name>
    <servlet-class>com.shopping.Controller.ProductSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearch</servlet-name>
    <url-pattern>/ProductSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchM</display-name>
    <servlet-name>ProductSearchM</servlet-name>
    <servlet-class>com.shopping.Controller.ProductSearchM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchM</servlet-name>
    <url-pattern>/ProductSearchM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCategory</display-name>
    <servlet-name>RemoveCategory</servlet-name>
    <servlet-class>com.shopping.Controller.RemoveCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCategory</servlet-name>
    <url-pattern>/RemoveCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProduct</display-name>
    <servlet-name>RemoveProduct</servlet-name>
    <servlet-class>com.shopping.Controller.RemoveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProduct</servlet-name>
    <url-pattern>/RemoveProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.shopping.Controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupportUpdate</display-name>
    <servlet-name>SupportUpdate</servlet-name>
    <servlet-class>com.shopping.Controller.SupportUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupportUpdate</servlet-name>
    <url-pattern>/SupportUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.shopping.Controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shippingadd</display-name>
    <servlet-name>Shippingadd</servlet-name>
    <servlet-class>com.shopping.Controller.Shippingadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shippingadd</servlet-name>
    <url-pattern>/Shippingadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShipServ</display-name>
    <servlet-name>UpdateShipServ</servlet-name>
    <servlet-class>com.shopping.Controller.UpdateShipServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShipServ</servlet-name>
    <url-pattern>/UpdateShipServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddImageServ</display-name>
    <servlet-name>AdminAddImageServ</servlet-name>
    <servlet-class>com.shopping.Controller.AdminAddImageServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddImageServ</servlet-name>
    <url-pattern>/AdminAddImageServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidate</display-name>
    <servlet-name>LoginValidate</servlet-name>
    <servlet-class>com.shopping.Controller.LoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidate</servlet-name>
    <url-pattern>/LoginValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Securityques</display-name>
    <servlet-name>Securityques</servlet-name>
    <servlet-class>com.shopping.Controller.Securityques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Securityques</servlet-name>
    <url-pattern>/Securityques</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginjdbc</display-name>
    <servlet-name>Loginjdbc</servlet-name>
    <servlet-class>com.shopping.jdbc.Loginjdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginjdbc</servlet-name>
    <url-pattern>/Loginjdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServ</display-name>
    <servlet-name>ChangePasswordServ</servlet-name>
    <servlet-class>com.shopping.Controller.ChangePasswordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServ</servlet-name>
    <url-pattern>/ChangePasswordServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskQuery</display-name>
    <servlet-name>AskQuery</servlet-name>
    <servlet-class>com.shopping.Controller.AskQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskQuery</servlet-name>
    <url-pattern>/AskQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAnswer</display-name>
    <servlet-name>ViewAnswer</servlet-name>
    <servlet-class>com.shopping.Controller.ViewAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAnswer</servlet-name>
    <url-pattern>/ViewAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutserv</display-name>
    <servlet-name>Logoutserv</servlet-name>
    <servlet-class>com.shopping.Controller.Logoutserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutserv</servlet-name>
    <url-pattern>/Logoutserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.shopping.Controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trackuser</display-name>
    <servlet-name>Trackuser</servlet-name>
    <servlet-class>com.shopping.Controller.Trackuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trackuser</servlet-name>
    <url-pattern>/Trackuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackUser</display-name>
    <servlet-name>TrackUser</servlet-name>
    <servlet-class>com.shopping.Controller.TrackUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackUser</servlet-name>
    <url-pattern>/TrackUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackAdminStatus</display-name>
    <servlet-name>TrackAdminStatus</servlet-name>
    <servlet-class>com.shopping.Controller.TrackAdminStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackAdminStatus</servlet-name>
    <url-pattern>/TrackAdminStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangepassServ</display-name>
    <servlet-name>ChangepassServ</servlet-name>
    <servlet-class>com.shopping.Controller.ChangepassServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangepassServ</servlet-name>
    <url-pattern>/ChangepassServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviewServ</display-name>
    <servlet-name>reviewServ</servlet-name>
    <servlet-class>com.shopping.Controller.reviewServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewServ</servlet-name>
    <url-pattern>/reviewServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchpr</display-name>
    <servlet-name>Searchpr</servlet-name>
    <servlet-class>com.shopping.Controller.Searchpr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchpr</servlet-name>
    <url-pattern>/Searchpr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancelorder</display-name>
    <servlet-name>Cancelorder</servlet-name>
    <servlet-class>com.shopping.Controller.Cancelorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancelorder</servlet-name>
    <url-pattern>/Cancelorder</url-pattern>
  </servlet-mapping>
</web-app>